/venv/
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/Teamprojekt20.iml
*.pyc
*.pyc
*.pyc
COM/__pycache__/verbindungsTest.cpython-39.pyc
complete/__pycache__/gamepad.cpython-39.pyc
